/*By Isaac Alves Pinheiro*/
/* Fontes */

/*------------------- </> HTML TAGS </> ---------------------*/
:root {
  --transparente: transparent;
  --cor-neutra-branca: #fff; /*divs ou textos*/
  --cor-neutra-preta: #000;  /*texto padrão*/
  --cor-secundaria: #ffdecf; /*modal.js*/
  --cor-terciaria: #ba7967;  /*borda relativa (menu, bordas, )*/
  --cor-quartenaria: #5e6f64; /*sub-footer*/
  --cor-quintenaria: #3f4441; /*footer*/
}

*{
  margin:0;
  padding:0;  
  border-bottom: 0;
}

html,body{
  overflow-x:hidden;
  width:100%;
  background-color: var(--cor-neutra-branca);
}

/* Login Responsivo */

/* html{
  background: url(4k.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
} */
#header{
  display: flex;
}

.container{
  width: 100%;
  background-color: var(--transparente);
  display: flex;
  justify-content: flex-start;
} 

.logo{
  position: relative;
  width: 250px;
  margin-left: 77px;
  margin-top: 3.5px;
}

p{
  color:var(--cor-padrao);
  margin-top:5px;
  margin-left:5px;
  margin-right:5px;
  font-size:20.5px;
  font-family:"Arial";
}



dt{
  color:white;
  margin-top:5px;
  margin-left:5px;
  margin-right:5px;
  font-size:20.5px;
  font-family:"Arial";
}

strong,b{
  color:white;
  text-shadow:2px 2px black;
}

/*-----------------------------|Tabela|---------------------------------*/

table,th,td {
  border: 2px solid black;
  border-collapse: collapse;
  font-size: 20px;
  padding:7px;
  width: 100%;
}

th{
  color:gray;
  font-family: "Arial";
  text-shadow:1px 1px black;
}

td{
  color:white;
  text-shadow:2px 2px #000000;
}

th{
  background-color:var(--cor-neutra-branca);
}

/*----------------------------< Imagens >-----------------------------------*/

#foto{
  width:400px; height:300px;
  margin:/*10px 20px 20px*/ 0px;
  padding:4px;
  background-color: rgb(48, 46, 46);
  border:20px ridge rgb(255, 250, 250);
  background-size:contain;
}

#foto{
  margin:0px;
  padding:0px;
}

.miniaturas{
  margin:10px 50px;
}

.miniaturas img:hover {
     filter: saturate(100%);
     transition:1s;
     transform:scale(1.2);
}

/*----------------------------__Rodapé__-----------------------------*/

footer{
   background-color:var(--cor-quintenaria);
   bottom:0;
   right:0;
   text-align:center;

   font-size:20px;
   padding: 5px;
}

.texto{
     text-align:center;
     color:#fefefe;
     padding:20px;
     font-size:15px;
}

/*--------------------- ° Lista não ordenada ---------------------------*/

li{
  color:white;
  font-size:20.5px;
  font-family:"Arial";
  padding: 2%;
  letter-spacing: 1%;
}

ol,ul{
  padding: 1% 20% 1% 20%;
}

/*-----------------------------DIVS ID---------------------------------*/

#pth{
  background-color: var(--cor-neutra-branca);
  min-height:100vh;
  border-radius:0px;
  padding: 50px 0px 50px 0px;
  margin:0px;
  width: 100%;
}

/*----------------------------DIVS CLASS-------------------------------*/

.centro{
  min-width:90%;
  min-height:100%;
  margin:5px;
  padding:5px 0px 5px 5px;
	border:8px double #fefefe;
  border-radius:0px;
  text-align: initial;
}

.centro p{
    text-align:justify;

}

.centro a{
  text-align:center;
}

/*-------------------------------(Botão)------------------------------------*/

.btn {
  display: inline-block;
  padding: 13px 20px;
  color: #fff;
  text-decoration: none;
  position: relative;
  background:transparent;
  border: 1px solid #e1e1e1;
  font: 12px/1.2 "Oswald", sans-serif;
  letter-spacing: 0.4em;
  text-align: center;
  text-indent: 2px;
  text-transform: uppercase;
  transition: color 0.1s linear 0.05s;
  cursor: pointer;
  margin:20px 0px 20px 0px;
}

.btn:active{
  position: relative;
  top: 5px;
  box-shadow: none;
}


/* -------------------------- Breakpoints -------------------------------------*/


@media only screen and (max-width: 320px){ /*Jiophone*/
  .container{
    width: 100%;
    background-color: var(--cor-terciaria);
    display: flex;
    justify-content: center;
  } 

  #foto img{
    width: 50%; height: 30%;
  }
  
.logo{
  width: 100px;
}

}

@media only screen and (max-width: 450px){
  .container{
    width: 100%;
    background-color: var(--cor-terciaria);
    display: flex;
    justify-content: center;
  } 

  #foto img{
    width: 50%; height: 30%;
  }
}

@media only screen and (max-width: 790px){
  .container{
    width: 100%;
    background-color: var(--cor-terciaria);
    display: flex;
    justify-content: center;
  } 

  #foto img{
    width: 70%; height: 40vh;
  }
}

@media only screen and (max-width: 998px){
  #foto img{
    width: 50%; height: 50vh;
  }

  .container{
    width: 100%;
    background-color: var(--cor-terciaria);
    display: flex;
    justify-content: center;
  } 
}

@media only screen and (max-width: 1280px){ /*Mobile*/
  #foto img{
    width: 70%; height: 30vh;
  }

  .container{
    width: 100%;
    background-color: var(--cor-neutra-branca);
    display: flex;
    justify-content: center;
  } 
 
.logo{
  width: 200px;
  margin: 0px;
  margin-top: 3.5px;
}

} 
